*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}




body {
    background-color: rgb(77, 121, 196);
   }

h1{
 text-align: center;
}

.myclass {
 color: white; 
 width: 100%;
  height:60px;
  background-color: black;  
}

#para {
  color: white;
  text-align: center;
  padding-top: 10px;
}



nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  background-color:rgb(6, 6, 93);
  position: fixed;
}

a{
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color:rgb(6, 6, 93);
  padding-top: 15px;
}